:root {
    --noir: #1f1c1c;
    --blanc: #e8ecf1;
    --rouge: #7d0f1f;
    --gris: #8a8e93;
    --violet: #4d4a5a;
}

@font-face {
    src: url("/assets/typo/UbuntuMono-Regular.woff2") format("woff2");
    font-family: "Ubuntu";
}

* {
    box-sizing: border-box;
    font-family: Ubuntu, Bahnschrift;
    font-size: 1.5vw;
}

body {
    width: 100%;
    margin: 0px;
    background-color: var(--noir);
}

header {
    display: block;
    position: fixed;
    background-color: var(--noir);
    width: 100%;
    padding-bottom: 3%;
    padding-top: 1.5%;
    color: var(--blanc);
    z-index: 2;
    transition: height 0.3s ease;
    //height: 20%;
    .nom {
        position: relative;
        left: 50vw;
        margin: 1vh 5% 0 0;
        font-size: 5vw;
        margin-top: 0px;
        transition: font-size 0.3s ease;
    }
}

main {
    display: block;
    position: relative;
    top: 9vw;
    z-index: 1;
    .content {
        h2 {
            font-size: 3vw;
        }
        width: 100%;
        color: var(--blanc);
        background-color: var(--noir);
        display: flex;
        flex-flow: column;
        font-size: 16px;
        .moi {
            display: block;
            overflow: hidden;
            .degrade {
                position: absolute;
                width: 100%;
                height: 100%;
                background-image: linear-gradient(rgba(31, 28, 28, 0.5), rgba(31, 28, 28, 1));
                z-index: 0;
            }
            .a_propos {
                width: 100%;
                display: flex;
                flex-flow: column;
                background-image: url("img/dominic.jpg");
                background-repeat: no-repeat;
                background-position: center - 25%;
                background-size: 100%;
                padding: 3% 5%; 
                z-index: 5;
            }
    }
    
        
    }
    .portfolio {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding: 3% 5%;
        
        div {
            display: flex;
            flex-flow: column;
            align-items: center;
            text-align: center;
            width: 100%;
            justify-content: center;
            /* opacity: 100%; */
            margin: 5% 0;
            
            .embedVid {
                width: 100%;
                aspect-ratio: 16/9;
                margin: 0px;
                iframe {
                    width: 100%;
                    aspect-ratio: 16/9;
                }
            }
            .description {
                width: 80%;
            }
        }
        
        .autoportrait {
            width: 100%;
            display: flex;
            flex-flow: column;
            .content {
                display: grid;
                grid-template-columns:  1fr;
                gap: 5px;
                margin-bottom: 0px;
                img {
                    width: 100%;
                    border-radius: 20px;
                }
            }
        }
    
        .sonore {
            width: 100%;
            display: flex;
            // .sonore {
            //     width: 100%;
            //     display: flex;
            //     .playBtn {
            //         display: block;
            //     }
            //     .stopBtn {
            //         display: none;
            //     }
            // }
            .playBtn1, .playBtn2 {
                width: 50vw;
                display: block;
                overflow: hidden;
                img {
                    width: 100%;
                }
            }
            .stopBtn1, .stopBtn2 {
                width: 50vw;
                display: none;
                img {
                    width: 100%;
                }
            }
        }
    }
}



h2 {
    text-transform: uppercase;
}

footer {
    display: block;
    width: 100%;
    height: 100%;
    background-color: var(--noir);
    overflow: hidden;
    color: var(--blanc);
    padding-bottom: 50px;
    position: relative;
    z-index: 2;
    .content {
        display: flex;
        flex-flow: column;
        align-items: center;
        justify-content: center;
        margin-bottom: 50px;
        a {
            text-decoration: none;
            color: var(--blanc);
        }
    }
   
    // position: sticky bottom;
}



@media screen and (min-width: 500px) {
    main {
        .content {
            .portfolio {
                .autoportrait {
                    .content {
                        grid-template-columns: 1fr 1fr;
                    }
                }
                .sonore {
                    .playBtn, .stopBtn {
                        width: 100%;
                    }
                }
            }
        }
        
    }
    
}

@media screen and (min-width: 900px) {
    main {
        .content {
            .portfolio {
                font-size: 24px;
                .autoportrait {
                    .content {
                        grid-template-columns: 1fr 1fr 1fr;
                    }
                }
            }
        }
    }
    
    
}