:root {
  --noir: #1f1c1c;
  --blanc: #e8ecf1;
  --rouge: #7d0f1f;
  --gris: #8a8e93;
  --violet: #4d4a5a;
}

@font-face {
  src: url("/assets/typo/UbuntuMono-Regular.woff2") format("woff2");
  font-family: "Ubuntu";
}
* {
  box-sizing: border-box;
  font-family: Ubuntu, Bahnschrift;
  font-size: 1.5vw;
}

body {
  width: 100%;
  margin: 0px;
}

header {
  display: block;
  position: sticky;
  background-color: var(--noir);
  width: 100%;
  padding-bottom: 10%;
  color: var(--blanc);
}
header .nom {
  position: relative;
  left: 50vw;
  margin: 1vh 5% 0 0;
  font-size: 5vw;
  margin-top: 0px;
}

main {
  width: 100%;
  color: var(--blanc);
  background-color: var(--noir);
  display: flex;
  flex-flow: column;
  font-size: 16px;
}
main h2 {
  font-size: 3vw;
}
main .moi {
  display: flex;
  flex-flow: row;
  justify-content: flex-start;
  text-align: center;
  align-items: center;
  padding: 3% 5%;
  background-image: url("img/dominic.jpg");
  background-repeat: no-repeat;
  background-position: center-25%;
  background-size: 100%;
}
main .moi .a_propos {
  width: 50%;
  display: flex;
  flex-flow: column;
}
main .moi .a_propos .description {
  width: 80%;
}
main .portfolio {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 3% 5%;
}
main .portfolio div {
  display: flex;
  flex-flow: column;
  align-items: center;
  text-align: center;
  width: 100%;
  justify-content: center;
  /* opacity: 100%; */
  margin: 5% 0;
}
main .portfolio div .embedVid {
  width: 100%;
  aspect-ratio: 16/9;
  margin: 0px;
}
main .portfolio div .embedVid iframe {
  width: 100%;
  aspect-ratio: 16/9;
}
main .portfolio div .description {
  width: 80%;
}
main .portfolio .autoportrait {
  width: 100%;
  display: flex;
  flex-flow: column;
}
main .portfolio .autoportrait .content {
  display: grid;
  grid-template-columns: 1fr;
  gap: 5px;
  margin-bottom: 0px;
}
main .portfolio .autoportrait .content img {
  width: 100%;
  border-radius: 20px;
}
main .portfolio .sonore {
  width: 100%;
  display: flex;
}
main .portfolio .sonore .playBtn1, main .portfolio .sonore .playBtn2 {
  width: 50vw;
  display: block;
  overflow: hidden;
}
main .portfolio .sonore .playBtn1 img, main .portfolio .sonore .playBtn2 img {
  width: 100%;
}
main .portfolio .sonore .stopBtn1, main .portfolio .sonore .stopBtn2 {
  width: 50vw;
  display: none;
}
main .portfolio .sonore .stopBtn1 img, main .portfolio .sonore .stopBtn2 img {
  width: 100%;
}

h2 {
  text-transform: uppercase;
}

footer {
  width: 100%;
  height: 100%;
  background-color: var(--noir);
  overflow: hidden;
  color: var(--blanc);
  padding-bottom: 50px;
}
footer .content {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;
}
footer .content a {
  text-decoration: none;
  color: var(--blanc);
}

@media screen and (min-width: 500px) {
  main .portfolio .autoportrait .content {
    grid-template-columns: 1fr 1fr;
  }
  main .portfolio .sonore .playBtn, main .portfolio .sonore .stopBtn {
    width: 100%;
  }
}
@media screen and (min-width: 900px) {
  main .portfolio {
    font-size: 24px;
  }
  main .portfolio .autoportrait .content {
    grid-template-columns: 1fr 1fr 1fr;
  }
}/*# sourceMappingURL=style.css.map */