:root {
  --deepNoir: #000;
  --noir: #1f1c1c;
  --blanc: #e8ecf1;
  --rouge: #7d0f1f;
  --gris: #8a8e93;
  --violet: #4d4a5a;
}

@font-face {
  src: url("/assets/typo/UbuntuMono-Regular.woff2") format("woff2");
  font-family: "Ubuntu";
}
* {
  box-sizing: border-box;
  font-family: Ubuntu, Bahnschrift;
  font-size: 1.5vw;
}

body {
  width: 100%;
  margin: 0px;
  background-color: var(--noir);
}

header {
  display: block;
  position: fixed;
  background-color: var(--noir);
  width: 100%;
  padding-bottom: 3%;
  padding-top: 1.5%;
  color: var(--blanc);
  z-index: 2;
  transition: height 0.3s ease;
  box-shadow: 0px 1px 20px var(--deepNoir);
}
header .menu {
  position: absolute;
  width: 50%;
}
header .menu .menuFlexContainer {
  display: flex;
  justify-content: space-evenly;
}
header .menu .menuFlexContainer .projets .dropBtnProjet {
  cursor: pointer;
}
header .menu .menuFlexContainer .projets .dropContent {
  display: none;
  position: absolute;
  background-color: var(--noir);
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}
header .menu .menuFlexContainer .projets .dropContent a {
  color: var(--blanc);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
header .menu .menuFlexContainer .projets .dropContent a:hover {
  color: var(--violet);
}
header .menu .menuFlexContainer .projets .dropBtnProjet:hover {
  color: var(--violet);
}
header .menu .menuFlexContainer .contact a {
  text-decoration: none;
  color: var(--blanc);
}
header .menu .menuFlexContainer .contact a:hover {
  color: var(--violet);
}
header a {
  text-decoration: none;
  color: var(--blanc);
}
header .nom {
  position: relative;
  left: 50vw;
  margin: 1vh 5% 0 0;
  font-size: 5vw;
  margin-top: 0px;
  transition: font-size 0.3s ease;
}
header .nom:hover {
  color: var(--violet);
}

main {
  display: block;
  position: relative;
  top: 9vw;
  z-index: 1;
}
main .content {
  width: 100%;
  color: var(--blanc);
  background-color: var(--noir);
  display: flex;
  flex-flow: column;
  font-size: 16px;
}
main .content h2 {
  font-size: 3vw;
}
main .content .moi {
  display: block;
  overflow: hidden;
}
main .content .moi .degrade {
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(rgba(31, 28, 28, 0.5), rgb(31, 28, 28));
  z-index: 0;
}
main .content .moi .a_propos {
  width: 100%;
  display: flex;
  flex-flow: column;
  background-image: url("img/dominic.jpg");
  background-repeat: no-repeat;
  background-position: center-25%;
  background-size: 100%;
  padding: 3% 5%;
  z-index: 5;
}
main .portfolio {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 3% 5%;
}
main .portfolio div {
  display: flex;
  flex-flow: column;
  align-items: center;
  text-align: center;
  width: 100%;
  justify-content: center;
  /* opacity: 100%; */
  margin: 5% 0;
}
main .portfolio div .embedVid {
  width: 100%;
  aspect-ratio: 16/9;
  margin: 0px;
}
main .portfolio div .embedVid iframe {
  width: 100%;
  aspect-ratio: 16/9;
}
main .portfolio div .description {
  width: 80%;
}
main .portfolio .autoportrait {
  width: 100%;
  display: flex;
  flex-flow: column;
}
main .portfolio .autoportrait .content {
  display: grid;
  grid-template-columns: 1fr;
  gap: 5px;
  margin-bottom: 0px;
}
main .portfolio .autoportrait .content img {
  width: 100%;
  border-radius: 20px;
}
main .portfolio .sonore {
  width: 100%;
  display: flex;
}
main .portfolio .sonore .playBtn1, main .portfolio .sonore .playBtn2 {
  width: 50vw;
  display: block;
  overflow: hidden;
}
main .portfolio .sonore .playBtn1 img, main .portfolio .sonore .playBtn2 img {
  width: 100%;
}
main .portfolio .sonore .stopBtn1, main .portfolio .sonore .stopBtn2 {
  width: 50vw;
  display: none;
}
main .portfolio .sonore .stopBtn1 img, main .portfolio .sonore .stopBtn2 img {
  width: 100%;
}

h2 {
  text-transform: uppercase;
}

footer {
  display: block;
  width: 100%;
  height: 100%;
  background-color: var(--noir);
  overflow: hidden;
  color: var(--blanc);
  padding-bottom: 50px;
  position: relative;
  z-index: 2;
}
footer .content {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;
}
footer .content a {
  text-decoration: none;
  color: var(--blanc);
}
footer .content a:hover {
  color: var(--violet);
}

@media screen and (min-width: 500px) {
  main .content .portfolio .autoportrait .content {
    grid-template-columns: 1fr 1fr;
  }
  main .content .portfolio .sonore .playBtn, main .content .portfolio .sonore .stopBtn {
    width: 100%;
  }
}
@media screen and (min-width: 900px) {
  main .content .portfolio {
    font-size: 24px;
  }
  main .content .portfolio .autoportrait .content {
    grid-template-columns: 1fr 1fr 1fr;
  }
}/*# sourceMappingURL=style.css.map */